@tailwind base;
@tailwind components;
@tailwind utilities;

input{
  transition: outline-color .2s linear;
}

input::placeholder{
  transition: all .2s linear;
}

input.invalid {
  /*outline-color: transparent;*/
  animation: shake .2s ease-in-out 0s 2;
}

input.invalid::placeholder{
  color: #ff0000;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.25rem;
    margin-right: -0.25rem;
  }
  75% {
    margin-left: -0.25rem;
    margin-right: 0.25rem;
  }
  100% {
    margin-left: 0rem;
  }
}